/* Write your global styles here, in PostCSS syntax */
@import '@skeletonlabs/skeleton/themes/theme-modern.css';
@import '@skeletonlabs/skeleton/styles/all.css';
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
